{% extends 'base.html.twig' %}

{% trans_default_domain 'croissants' %}

{% block content %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="well well-lg">
            <h1>{{ 'home.head.title'|trans }}</h1>
            <p class="lead">{{ 'home.head.text'|trans }}</p>
            <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_registration_register') }}" role="button">{{ 'home.head.register'|trans }}</a></p>
        </div>
    {% endif %}

    <div class="row marketing">
        <div class="col-lg-6">
            <h2>{{ 'home.content.working'|trans }}</h2>
            <p>{{ 'home.content.working_description'|trans }}</p>

            <h3>{{ 'home.content.yes'|trans }}</h3>
            <p>{{ 'home.content.yes_description'|trans }}</p>

            <h3>{{ 'home.content.no'|trans }}</h3>
            <p>{{ 'home.content.no_description'|trans }}</p>
        </div>

        <div class="col-lg-6">
            <h2>{{ 'home.content.selection_proccess'|trans }}</h2>
            <p>{{ 'home.content.selection_proccess_description'|trans }}</p>

            <h2>{{ 'home.content.stop'|trans }}</h2>
            <p>{{ 'home.content.stop_description'|trans }}</p>
        </div>
    </div>
{% endblock %}