{% trans_default_domain 'croissants' %}

<header class="header">
    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Croissants Bringer</a>
            </div>

            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                        <a href="{{ path('home') }}">{{ 'layout.menu.home'|trans }}</a>
                    </li>
                    <li role="presentation" class="{% if app.request.attributes.get('_route') == 'participants' %}active{% endif %}">
                        <a href="{{ path('participant') }}">{{ 'layout.menu.participants'|trans }}</a>
                    </li>
                    <li role="presentation" class="{% if app.request.attributes.get('_route') == 'history' %}active{% endif %}">
                        <a href="{{ path('history') }}">{{ 'layout.menu.history'|trans }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.my_account'|trans }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>