{% extends 'base.html.twig' %}

{% trans_default_domain 'croissants' %}

{% block content %}
    <table class="table">
        <caption>{{ 'participants.table.description'|trans }}</caption>
        <thead>
        <tr>
            <th>{{ 'participants.table.position'|trans }}</th>
            <th>{{ 'participants.table.username'|trans }}</th>
            <th>{{ 'participants.table.email'|trans }}</th>
            <th>{{ 'participants.table.participation_number'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr {% if loop.first %}class="success"{% endif %}>
                <th scope="row">{{ participant.position }}</th>
                <td>{{ participant.username }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.participationDoneList|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <caption>{{ 'participants.table.description_disable'|trans }}</caption>
        <thead>
        <tr>
            <th>{{ 'participants.table.position'|trans }}</th>
            <th>{{ 'participants.table.username'|trans }}</th>
            <th>{{ 'participants.table.email'|trans }}</th>
            <th>{{ 'participants.table.participation_number'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for nonParticipant in nonParticipants %}
            <tr>
                <th scope="row">{{ nonParticipant.position }}</th>
                <td>{{ nonParticipant.username }}</td>
                <td>{{ nonParticipant.email }}</td>
                <td>{{ nonParticipant.participationDoneList|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set count = (participants | length)  %}
    <p>{{ 'participants.table.count'|trans({'%croissant%': count, '%choco%': count }) }}</p>
{% endblock %}