{% extends 'email/base.html.twig' %}

{% trans_default_domain 'croissants' %}

{%- block title -%}
    {{ 'email.subject.participant_approval'|trans }}
{%- endblock -%}

{%- block content -%}
    <p>{{ 'email.content.participant_approval.greeting'|trans({'%user%': user.username}) }}</p>
    <p>{{ 'email.content.participant_approval.explanation'|trans }}</p>
    <table border="0" cellpadding="0" cellspacing="0" class="btn">
        <tbody>
        <tr>
            <td align="left" class="btn-primary">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ acceptUrl }}" target="_blank" title="{{ 'email.content.participant_approval.button_accept_title'|trans }}">{{ 'email.content.participant_approval.button_accept'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td align="right">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ refuseUrl }}" target="_blank" title="{{ 'email.content.participant_approval.button_refuse_title'|trans }}">{{ 'email.content.participant_approval.button_refuse'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>{{ 'email.content.participant_approval.link_accept'|trans({'%link%': acceptUrl}) }}</p>
    <p>{{ 'email.content.participant_approval.link_refuse'|trans({'%link%': refuseUrl}) }}</p>
{%- endblock -%}